<h1 class="mt-4">Hello, <%= name %></h1>
<h4 class="mt-4 mb-3">Welcome to the Dashboard </h4>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<a href="/auth/forgot" class="btn btn-secondary">Reset</a>